<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univer.labs.books">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.book.BooksByYearChartActivity"
            android:parentActivityName=".controller.MainBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainBooksActivity" />
        </activity>
        <activity
            android:name=".controller.author.BooksByAuthorsPieChartActivity"
            android:parentActivityName=".controller.MainAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.book.BooksUnderPriceActivity"
            android:parentActivityName=".controller.MainBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainBooksActivity" />
        </activity>
        <activity
            android:name=".controller.author.AuthorDetailsActivity"
            android:parentActivityName=".controller.author.AllAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.author.AllAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.author.EditAuthorActivity"
            android:parentActivityName=".controller.author.AllAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.author.AllAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.author.BooksByAuthorActivity"
            android:parentActivityName=".controller.MainAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.author.AuthorWithoutBooksActivity"
            android:parentActivityName=".controller.MainAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.book.AllBooksActivity"
            android:parentActivityName=".controller.MainBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainBooksActivity" />
        </activity>
        <activity
            android:name=".controller.book.BooksDuplicateActivity"
            android:parentActivityName=".controller.MainBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainBooksActivity" />
        </activity>
        <activity
            android:name=".controller.book.EditBookActivity"
            android:parentActivityName=".controller.book.AllBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.book.AllBooksActivity" />
        </activity>
        <activity
            android:name=".controller.book.AddBookActivity"
            android:parentActivityName=".controller.MainBooksActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainBooksActivity" />
        </activity>
        <activity
            android:name=".controller.MainBooksActivity"
            android:parentActivityName=".controller.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity
            android:name=".controller.author.AllAuthorsActivity"
            android:parentActivityName=".controller.MainAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.author.AddAuthorActivity"
            android:parentActivityName=".controller.MainAuthorsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainAuthorsActivity" />
        </activity>
        <activity
            android:name=".controller.MainAuthorsActivity"
            android:parentActivityName=".controller.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.MainActivity" />
        </activity>
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>